*.o
tags
*.swp
patternmatchgpu
*.weight*
motif_cut
build_csr
find_cc
transform_graph
gtest
/scripts/logs
/scripts/reuse
compile_commands.json
test_pattern_match
test_pattern_match_cpu
test_utils
test_query
test_graph
.ycm_extra_conf.py
test_mgpu
data
test_set_intersect
test_bfs
debug.sh
exp
test_compile
test_label_bfs
test_nemo
test_rbfs
test_set_intersect_hm
analyze_graph
pattern_match_benchmark
labelpatternmatchgpu
graph_reorder
preprocess_graph
patternmatchcpu
*pyc
test_cnmem
test_cuda_memory
test_cudpp
.vscode
lib/fennel/fennel
